{
    "openapi": "3.0.1",
    "info": {
        "title": "Communication Preferences Subscriptions",
        "version": "v4",
        "x-hubspot-product-tier-requirements": {
            "marketing": "FREE",
            "sales": "FREE",
            "service": "FREE",
            "cms": "FREE"
        },
        "x-hubspot-documentation-banner": "NONE",
        "x-hubspot-api-use-case": "Ensure a contact's opt-in status is updated if they opted out of communications from your business via a service external to HubSpot.",
        "x-hubspot-related-documentation": [
            {
                "name": "Subscriptions preferences guide",
                "url": "https://developers.hubspot.com/beta-docs/guides/api/marketing/subscriptions"
            }
        ],
        "x-hubspot-introduction": "Use the subscriptions API to programmatically subscribe or unsubscribe contacts from your email subscription types, or unsubscribe a contact from all email communication. These APIs also provide support for business units."
    },
    "servers": [
        {
            "url": "https://api.hubapi.com/communication-preferences/v4"
        }
    ],
    "tags": [
        {
            "name": "Subscription status"
        },
        {
            "name": "Subscription definitions"
        }
    ],
    "paths": {
        "/statuses/batch/write": {
            "post": {
                "tags": [
                    "Subscription status"
                ],
                "summary": "Batch update subscription status",
                "description": "Update the subscription status for a set of contacts.",
                "operationId": "post-/communication-preferences/v4/statuses/batch/write",
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchInputPublicStatusRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponsePublicStatus"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps": [
                            "communication_preferences.statuses.batch.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "communication_preferences.statuses.batch.write"
                        ]
                    }
                ]
            }
        },
        "/statuses/{subscriberIdString}/unsubscribe-all": {
            "get": {
                "tags": [
                    "Subscription status"
                ],
                "summary": "Get contact's unsubscribed status",
                "description": "Check whether a contact has unsubscribed from all email subscriptions. If a contact has not opted out of all communications, the response `results` array will be empty.",
                "operationId": "get-/communication-preferences/v4/statuses/{subscriberIdString}/unsubscribe-all",
                "parameters": [
                    {
                        "name": "subscriberIdString",
                        "in": "path",
                        "description": "The contact's email address",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "businessUnitId",
                        "in": "query",
                        "description": "If you have the [business unit add-on](https://developers.hubspot.com/beta-docs/guides/api/settings/business-units-api), include this parameter to filter results by business unit ID. The default Account business unit will always use `0`",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "verbose",
                        "in": "query",
                        "description": "Set to `true` to include the details of the updated subscription statuses in the response. Not including this parameter will result in an empty response",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "name": "channel",
                        "in": "query",
                        "description": "The channel type for the subscription type. Currently, the only supported channel type is `EMAIL`",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "EMAIL",
                                "WHATSAPP",
                                "SMS"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ActionResponseWithResultsPublicWideStatus"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": [
                            "communication_preferences.read"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "communication_preferences.read_write"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "communication_preferences.read_write"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "communication_preferences.read"
                        ]
                    }
                ]
            },
            "post": {
                "tags": [
                    "Subscription status"
                ],
                "summary": "Unsubscribe contact from all",
                "description": "Unsubscribe a contact from all email subscriptions.",
                "operationId": "post-/communication-preferences/v4/statuses/{subscriberIdString}/unsubscribe-all",
                "parameters": [
                    {
                        "name": "subscriberIdString",
                        "in": "path",
                        "description": "The contact's email address",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "businessUnitId",
                        "in": "query",
                        "description": "If you have the [business unit add-on](https://developers.hubspot.com/beta-docs/guides/api/settings/business-units-api), include this parameter to filter results by business unit ID. The default Account business unit will always use `0`",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "verbose",
                        "in": "query",
                        "description": "Set to `true` to include the details of the updated subscription statuses in the response. Not including this parameter will result in an empty response",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "name": "channel",
                        "in": "query",
                        "description": "The channel type for the subscription type. Currently, the only supported channel type is `EMAIL`",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "EMAIL",
                                "WHATSAPP",
                                "SMS"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ActionResponseWithResultsPublicStatus"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2_legacy": [
                            "communication_preferences.write"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "communication_preferences.read_write"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "communication_preferences.write"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "communication_preferences.read_write"
                        ]
                    }
                ]
            }
        },
        "/statuses/batch/read": {
            "post": {
                "tags": [
                    "Subscription status"
                ],
                "summary": "Batch retrieve subscription statuses",
                "description": "Batch retrieve subscription statuses for a set of contacts.",
                "operationId": "post-/communication-preferences/v4/statuses/batch/read",
                "parameters": [
                    {
                        "name": "businessUnitId",
                        "in": "query",
                        "description": "If you have the [business unit add-on](https://developers.hubspot.com/beta-docs/guides/api/settings/business-units-api), include this parameter to filter results by business unit ID. The default Account business unit will always use `0`",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "channel",
                        "in": "query",
                        "description": "The channel type for the subscription type. Currently, the only supported channel type is `EMAIL`",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "EMAIL",
                                "WHATSAPP",
                                "SMS"
                            ]
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchInputString"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponsePublicStatusBulkResponse"
                                }
                            }
                        }
                    },
                    "207": {
                        "description": "multiple statuses",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponsePublicStatusBulkResponseWithErrors"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps": [
                            "communication_preferences.statuses.batch.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "communication_preferences.statuses.batch.read"
                        ]
                    }
                ]
            }
        },
        "/statuses/batch/unsubscribe-all": {
            "post": {
                "tags": [
                    "Subscription status"
                ],
                "summary": "Batch unsubscribe all contacts",
                "description": "Unsubscribe a set of contacts from all email subscriptions.",
                "operationId": "post-/communication-preferences/v4/statuses/batch/unsubscribe-all",
                "parameters": [
                    {
                        "name": "businessUnitId",
                        "in": "query",
                        "description": "If you have the [business unit add-on](https://developers.hubspot.com/beta-docs/guides/api/settings/business-units-api), include this parameter to filter results by business unit ID. The default Account business unit will always use `0`",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "verbose",
                        "in": "query",
                        "description": "Set to `true` to include the details of the updated subscription statuses in the response. Not including this parameter will result in an empty response",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "name": "channel",
                        "in": "query",
                        "description": "The channel type for the subscription type. Currently, the only supported channel type is `EMAIL`",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "EMAIL",
                                "WHATSAPP",
                                "SMS"
                            ]
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchInputString"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponsePublicBulkOptOutFromAllResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps": [
                            "communication_preferences.statuses.batch.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "communication_preferences.statuses.batch.write"
                        ]
                    }
                ]
            }
        },
        "/definitions": {
            "get": {
                "tags": [
                    "Subscription definitions"
                ],
                "summary": "Retrieve all subscription definitions",
                "description": "Get a list of subscription status definitions from the account.",
                "operationId": "get-/communication-preferences/v4/definitions",
                "parameters": [
                    {
                        "name": "businessUnitId",
                        "in": "query",
                        "description": "If you have the [business unit add-on](https://developers.hubspot.com/beta-docs/guides/api/settings/business-units-api), include this parameter to filter results by business unit ID. The default Account business unit will always use `0`",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "includeTranslations",
                        "in": "query",
                        "description": "Set to `true` to return subscription translations associated with each definition",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ActionResponseWithResultsSubscriptionDefinition"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": [
                            "communication_preferences.read"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "communication_preferences.read_write"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "communication_preferences.read_write"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "communication_preferences.read"
                        ]
                    }
                ]
            }
        },
        "/statuses/batch/unsubscribe-all/read": {
            "post": {
                "tags": [
                    "Subscription status"
                ],
                "summary": "Batch get opted-out contacts",
                "description": "Checks whether a set of contacts have opted out of all communications.",
                "operationId": "post-/communication-preferences/v4/statuses/batch/unsubscribe-all/read",
                "parameters": [
                    {
                        "name": "businessUnitId",
                        "in": "query",
                        "description": "If you have the [business unit add-on](https://developers.hubspot.com/beta-docs/guides/api/settings/business-units-api), include this parameter to filter results by business unit ID. The default Account business unit will always use `0`",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "channel",
                        "in": "query",
                        "description": "The channel type for the subscription type. Currently, the only supported channel type is `EMAIL`",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "EMAIL",
                                "WHATSAPP",
                                "SMS"
                            ]
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchInputString"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponsePublicWideStatusBulkResponse"
                                }
                            }
                        }
                    },
                    "207": {
                        "description": "multiple statuses",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponsePublicWideStatusBulkResponseWithErrors"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps": [
                            "communication_preferences.statuses.batch.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "communication_preferences.statuses.batch.read"
                        ]
                    }
                ]
            }
        },
        "/statuses/{subscriberIdString}": {
            "get": {
                "tags": [
                    "Subscription status"
                ],
                "summary": "Get contact subscription prefs",
                "description": "Retrieve a contact's current email subscription preferences.",
                "operationId": "get-/communication-preferences/v4/statuses/{subscriberIdString}",
                "parameters": [
                    {
                        "name": "subscriberIdString",
                        "in": "path",
                        "description": "The contact's email address",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "businessUnitId",
                        "in": "query",
                        "description": "If you have the [business unit add-on](https://developers.hubspot.com/beta-docs/guides/api/settings/business-units-api), include this parameter to filter results by business unit ID. The default Account business unit will always use `0`",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "channel",
                        "in": "query",
                        "description": "The channel type for the subscription type. Currently, the only supported channel type is `EMAIL`",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "EMAIL",
                                "WHATSAPP",
                                "SMS"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ActionResponseWithResultsPublicStatus"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": [
                            "communication_preferences.read"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "communication_preferences.read_write"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "communication_preferences.read_write"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "communication_preferences.read"
                        ]
                    }
                ]
            },
            "post": {
                "tags": [
                    "Subscription status"
                ],
                "summary": "Update contact subscription status",
                "description": "Set the subscription status of a specific contact.",
                "operationId": "post-/communication-preferences/v4/statuses/{subscriberIdString}",
                "parameters": [
                    {
                        "name": "subscriberIdString",
                        "in": "path",
                        "description": "The contact's email address",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PartialPublicStatusRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ActionResponseWithResultsPublicStatus"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2_legacy": [
                            "communication_preferences.write"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "communication_preferences.read_write"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "communication_preferences.write"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "communication_preferences.read_write"
                        ]
                    }
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "ActionResponseWithResultsPublicWideStatus": {
                "required": [
                    "completedAt",
                    "results",
                    "startedAt",
                    "status"
                ],
                "type": "object",
                "properties": {
                    "completedAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Timestamp when the action completed."
                    },
                    "numErrors": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Total number of errors encountered during processing."
                    },
                    "requestedAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Timestamp when the action was requested."
                    },
                    "startedAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Timestamp when the action began processing."
                    },
                    "links": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        },
                        "description": "Map of related resource links associated with the response."
                    },
                    "results": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PublicWideStatus"
                        },
                        "description": "List of wide-status results returned by the action."
                    },
                    "errors": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/StandardError"
                        },
                        "description": "List of errors encountered during the action execution."
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "PENDING",
                            "PROCESSING",
                            "CANCELED",
                            "COMPLETE"
                        ],
                        "description": "Current processing state of the action: PENDING, PROCESSING, CANCELED, or COMPLETE."
                    }
                },
                "description": "Response object containing async action results with wide-status entries and execution metadata."
            },
            "BatchInputString": {
                "required": [
                    "inputs"
                ],
                "type": "object",
                "properties": {
                    "inputs": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "Array of string values to process in the batch request."
                    }
                },
                "description": "Batch request payload containing a list of string input values."
            },
            "PublicStatusBulkResponse": {
                "required": [
                    "statuses",
                    "subscriberIdString"
                ],
                "type": "object",
                "properties": {
                    "subscriberIdString": {
                        "type": "string",
                        "description": "String identifier of the subscriber."
                    },
                    "statuses": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PublicStatus"
                        },
                        "description": "List of communication preference statuses for the subscriber."
                    }
                },
                "description": "Bulk response containing subscription statuses for a single subscriber."
            },
            "StandardError": {
                "required": [
                    "category",
                    "context",
                    "message",
                    "status"
                ],
                "type": "object",
                "properties": {
                    "subCategory": {
                        "type": "object",
                        "properties": {},
                        "description": "Optional sub-classification of the error category."
                    },
                    "context": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "description": "Key-value map providing additional contextual details about the error."
                    },
                    "links": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        },
                        "description": "Map of relevant links related to the error."
                    },
                    "id": {
                        "type": "string",
                        "description": "Unique identifier for the error instance."
                    },
                    "category": {
                        "type": "string",
                        "description": "High-level classification of the error type."
                    },
                    "message": {
                        "type": "string",
                        "description": "Human-readable summary of the error."
                    },
                    "errors": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ErrorDetail"
                        },
                        "description": "List of detailed error objects describing individual failures."
                    },
                    "status": {
                        "type": "string",
                        "description": "HTTP status code or error category identifier."
                    }
                },
                "description": "Standard error object containing details about a failed operation."
            },
            "PublicSubscriptionTranslation": {
                "required": [
                    "createdAt",
                    "description",
                    "languageCode",
                    "name",
                    "subscriptionId",
                    "updatedAt"
                ],
                "type": "object",
                "properties": {
                    "createdAt": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Unix timestamp (int32) when the translation was created."
                    },
                    "name": {
                        "type": "string",
                        "description": "Localized display name of the subscription."
                    },
                    "description": {
                        "type": "string",
                        "description": "Localized description of the subscription."
                    },
                    "subscriptionId": {
                        "type": "integer",
                        "format": "int32",
                        "description": "ID of the subscription this translation belongs to."
                    },
                    "languageCode": {
                        "type": "string",
                        "description": "BCP 47 language code for this translation (e.g., 'en', 'fr')."
                    },
                    "updatedAt": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Unix timestamp (int32) when the translation was last updated."
                    }
                },
                "description": "Localized translation of a subscription's name and description for a specific language."
            },
            "PartialPublicStatusRequest": {
                "required": [
                    "channel",
                    "statusState",
                    "subscriptionId"
                ],
                "type": "object",
                "properties": {
                    "statusState": {
                        "type": "string",
                        "enum": [
                            "SUBSCRIBED",
                            "UNSUBSCRIBED",
                            "NOT_SPECIFIED"
                        ],
                        "description": "Desired subscription state: SUBSCRIBED, UNSUBSCRIBED, or NOT_SPECIFIED."
                    },
                    "channel": {
                        "type": "string",
                        "enum": [
                            "EMAIL",
                            "WHATSAPP",
                            "SMS"
                        ],
                        "description": "Communication channel to update: EMAIL, WHATSAPP, or SMS."
                    },
                    "legalBasis": {
                        "type": "string",
                        "enum": [
                            "LEGITIMATE_INTEREST_PQL",
                            "LEGITIMATE_INTEREST_CLIENT",
                            "PERFORMANCE_OF_CONTRACT",
                            "CONSENT_WITH_NOTICE",
                            "NON_GDPR",
                            "PROCESS_AND_STORE",
                            "LEGITIMATE_INTEREST_OTHER"
                        ],
                        "description": "GDPR legal basis justifying the subscription status change."
                    },
                    "subscriptionId": {
                        "type": "integer",
                        "format": "int64",
                        "description": "Unique identifier of the subscription type to update."
                    },
                    "legalBasisExplanation": {
                        "type": "string",
                        "description": "Free-text explanation supporting the specified legal basis."
                    }
                },
                "description": "Request payload for updating a contact's subscription status on a specific channel."
            },
            "PublicStatus": {
                "required": [
                    "channel",
                    "source",
                    "status",
                    "subscriberIdString",
                    "subscriptionId",
                    "timestamp"
                ],
                "type": "object",
                "properties": {
                    "subscriptionName": {
                        "type": "string",
                        "description": "Display name of the associated subscription type."
                    },
                    "channel": {
                        "type": "string",
                        "enum": [
                            "EMAIL",
                            "WHATSAPP",
                            "SMS"
                        ],
                        "description": "Communication channel for this status: EMAIL, WHATSAPP, or SMS."
                    },
                    "subscriberIdString": {
                        "type": "string",
                        "description": "String identifier of the subscriber (e.g., email address or phone number)."
                    },
                    "legalBasis": {
                        "type": "string",
                        "nullable": true,
                        "enum": [
                            "LEGITIMATE_INTEREST_PQL",
                            "LEGITIMATE_INTEREST_CLIENT",
                            "PERFORMANCE_OF_CONTRACT",
                            "CONSENT_WITH_NOTICE",
                            "NON_GDPR",
                            "PROCESS_AND_STORE",
                            "LEGITIMATE_INTEREST_OTHER"
                        ],
                        "description": "The legal basis for processing the contact's communication preferences."
                    },
                    "setStatusSuccessReason": {
                        "type": "string",
                        "nullable": true,
                        "enum": [
                            "RESUBSCRIBE_OCCURRED",
                            "NO_STATUS_CHANGE",
                            "UNSUBSCRIBE_FROM_ALL_OCCURRED",
                            "REQUESTED_CHANGE_OCCURRED"
                        ],
                        "description": "The reason the subscription status was successfully updated."
                    },
                    "source": {
                        "type": "string",
                        "description": "The source that initiated the subscription status change."
                    },
                    "subscriptionId": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The unique identifier of the subscription type."
                    },
                    "legalBasisExplanation": {
                        "type": "string",
                        "nullable": true,
                        "description": "A human-readable explanation of the legal basis for processing."
                    },
                    "businessUnitId": {
                        "type": "integer",
                        "format": "int64",
                        "description": "The unique identifier of the associated business unit."
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "SUBSCRIBED",
                            "UNSUBSCRIBED",
                            "NOT_SPECIFIED"
                        ],
                        "description": "The contact's current subscription status for this subscription type."
                    },
                    "timestamp": {
                        "type": "string",
                        "format": "date-time",
                        "description": "The date and time when the subscription status was last updated."
                    }
                },
                "description": "Represents a contact's current subscription status for a given channel and subscription type."
            },
            "BatchResponsePublicStatus": {
                "required": [
                    "completedAt",
                    "results",
                    "startedAt",
                    "status"
                ],
                "type": "object",
                "properties": {
                    "completedAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "The date and time when the batch operation completed."
                    },
                    "numErrors": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The total number of errors encountered during the batch operation."
                    },
                    "requestedAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "The date and time when the batch operation was requested."
                    },
                    "startedAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "The date and time when the batch operation began processing."
                    },
                    "links": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        },
                        "description": "A map of relevant hypermedia links associated with the batch response."
                    },
                    "results": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PublicStatus"
                        },
                        "description": "The list of subscription status objects returned by the batch operation."
                    },
                    "errors": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/StandardError"
                        },
                        "description": "A list of errors encountered for individual records in the batch."
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "PENDING",
                            "PROCESSING",
                            "CANCELED",
                            "COMPLETE"
                        ],
                        "description": "The current processing state of the batch operation."
                    }
                },
                "description": "Batch response object containing subscription status results, processing metadata, and any errors encountered during the operation."
            },
            "BatchResponsePublicStatusBulkResponseWithErrors": {
                "required": [
                    "completedAt",
                    "results",
                    "startedAt",
                    "status"
                ],
                "type": "object",
                "properties": {
                    "completedAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "The date and time when the bulk batch operation completed."
                    },
                    "numErrors": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The total number of errors encountered during the bulk batch operation."
                    },
                    "requestedAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Timestamp when the batch request was received."
                    },
                    "startedAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Timestamp when batch processing began."
                    },
                    "links": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        },
                        "description": "Map of related resource names to their associated URIs."
                    },
                    "results": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PublicStatusBulkResponse"
                        },
                        "description": "Array of subscription status results from the batch operation."
                    },
                    "errors": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/StandardError"
                        },
                        "description": "Array of standard errors encountered during batch processing."
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "PENDING",
                            "PROCESSING",
                            "CANCELED",
                            "COMPLETE"
                        ],
                        "description": "Current processing state of the batch operation."
                    }
                },
                "description": "Batch response object containing bulk subscription status results, processing metadata, and any errors encountered during the operation."
            },
            "Error": {
                "required": [
                    "category",
                    "correlationId",
                    "message"
                ],
                "type": "object",
                "properties": {
                    "subCategory": {
                        "type": "string",
                        "description": "A specific category that contains more specific detail about the error"
                    },
                    "context": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "description": "Context about the error condition",
                        "example": {
                            "missingScopes": [
                                "scope1",
                                "scope2"
                            ],
                            "invalidPropertyName": [
                                "propertyValue"
                            ]
                        }
                    },
                    "correlationId": {
                        "type": "string",
                        "description": "A unique identifier for the request. Include this value with any error reports or support tickets",
                        "format": "uuid",
                        "example": "aeb5f871-7f07-4993-9211-075dc63e7cbf"
                    },
                    "links": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        },
                        "description": "A map of link names to associated URIs containing documentation about the error or recommended remediation steps"
                    },
                    "message": {
                        "type": "string",
                        "description": "A human readable message describing the error along with remediation steps where appropriate",
                        "example": "An error occurred"
                    },
                    "category": {
                        "type": "string",
                        "description": "The error category"
                    },
                    "errors": {
                        "type": "array",
                        "description": "further information about the error",
                        "items": {
                            "$ref": "#/components/schemas/ErrorDetail"
                        }
                    }
                },
                "example": {
                    "message": "Invalid input (details will vary based on the error)",
                    "correlationId": "aeb5f871-7f07-4993-9211-075dc63e7cbf",
                    "category": "VALIDATION_ERROR",
                    "links": {
                        "knowledge-base": "https://www.hubspot.com/products/service/knowledge-base"
                    }
                },
                "description": "Represents an API error response, including a message, category, correlation ID, and optional context details for diagnostics and remediation."
            },
            "PublicStatusRequest": {
                "required": [
                    "channel",
                    "statusState",
                    "subscriberIdString",
                    "subscriptionId"
                ],
                "type": "object",
                "properties": {
                    "statusState": {
                        "type": "string",
                        "description": "The status of the contact's subscription",
                        "enum": [
                            "SUBSCRIBED",
                            "UNSUBSCRIBED",
                            "NOT_SPECIFIED"
                        ]
                    },
                    "channel": {
                        "type": "string",
                        "description": "The type of communication channel. Currently, only `EMAIL` is supported",
                        "enum": [
                            "EMAIL",
                            "WHATSAPP",
                            "SMS"
                        ]
                    },
                    "subscriberIdString": {
                        "type": "string",
                        "description": "The contact's email address"
                    },
                    "legalBasis": {
                        "type": "string",
                        "description": "The legal basis for communication",
                        "enum": [
                            "LEGITIMATE_INTEREST_PQL",
                            "LEGITIMATE_INTEREST_CLIENT",
                            "PERFORMANCE_OF_CONTRACT",
                            "CONSENT_WITH_NOTICE",
                            "NON_GDPR",
                            "PROCESS_AND_STORE",
                            "LEGITIMATE_INTEREST_OTHER"
                        ]
                    },
                    "subscriptionId": {
                        "type": "integer",
                        "description": "The ID of the subscription to update",
                        "format": "int32"
                    },
                    "legalBasisExplanation": {
                        "type": "string",
                        "description": "The explanation for the legal basis"
                    }
                },
                "description": "Defines the subscription status update request for a contact, including channel, subscription ID, status state, and optional legal basis details."
            },
            "PublicWideStatusBulkResponse": {
                "required": [
                    "subscriberIdString",
                    "wideStatuses"
                ],
                "type": "object",
                "properties": {
                    "wideStatuses": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PublicWideStatus"
                        },
                        "description": "Array of wide-level subscription statuses for the contact."
                    },
                    "subscriberIdString": {
                        "type": "string",
                        "description": "The contact's email address used as the subscriber identifier."
                    }
                },
                "description": "Represents a contact's wide-level subscription statuses across all subscription types for a given subscriber."
            },
            "BatchResponsePublicStatusBulkResponse": {
                "required": [
                    "completedAt",
                    "results",
                    "startedAt",
                    "status"
                ],
                "type": "object",
                "properties": {
                    "completedAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Timestamp when the batch operation completed."
                    },
                    "requestedAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Timestamp when the batch request was received."
                    },
                    "startedAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Timestamp when batch processing began."
                    },
                    "links": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        },
                        "description": "Map of related resource names to their associated URIs."
                    },
                    "results": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PublicStatusBulkResponse"
                        },
                        "description": "Array of subscription status results from the batch operation."
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "PENDING",
                            "PROCESSING",
                            "CANCELED",
                            "COMPLETE"
                        ],
                        "description": "Current processing state of the batch operation."
                    }
                },
                "description": "Represents the batch response for subscription status operations, including processing state, timestamps, and an array of status results."
            },
            "ActionResponseWithResultsPublicStatus": {
                "required": [
                    "completedAt",
                    "results",
                    "startedAt",
                    "status"
                ],
                "type": "object",
                "properties": {
                    "completedAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Timestamp when the action operation completed."
                    },
                    "numErrors": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The total number of errors encountered during processing."
                    },
                    "requestedAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Timestamp when the action was requested."
                    },
                    "startedAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Timestamp when the action processing began."
                    },
                    "links": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        },
                        "description": "Map of relevant hypermedia links associated with the response."
                    },
                    "results": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PublicStatus"
                        },
                        "description": "Array of PublicStatus objects returned by the action."
                    },
                    "errors": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/StandardError"
                        },
                        "description": "List of standard errors encountered during the action."
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "PENDING",
                            "PROCESSING",
                            "CANCELED",
                            "COMPLETE"
                        ],
                        "description": "Current processing state of the action: PENDING, PROCESSING, CANCELED, or COMPLETE."
                    }
                },
                "description": "Represents the action response for subscription status operations, including processing state, timestamps, error count, and an array of individual status results."
            },
            "BatchResponsePublicWideStatusBulkResponse": {
                "required": [
                    "completedAt",
                    "results",
                    "startedAt",
                    "status"
                ],
                "type": "object",
                "properties": {
                    "completedAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Timestamp when the batch operation completed."
                    },
                    "requestedAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Timestamp when the batch operation was requested."
                    },
                    "startedAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Timestamp when the batch operation processing began."
                    },
                    "links": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        },
                        "description": "Map of relevant hypermedia links associated with the batch response."
                    },
                    "results": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PublicWideStatusBulkResponse"
                        },
                        "description": "Array of wide status bulk response objects returned by the batch operation."
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "PENDING",
                            "PROCESSING",
                            "CANCELED",
                            "COMPLETE"
                        ],
                        "description": "Current processing state of the batch: PENDING, PROCESSING, CANCELED, or COMPLETE."
                    }
                },
                "description": "Batch response containing wide communication status results for multiple subscribers, including processing state and timestamps."
            },
            "ErrorDetail": {
                "required": [
                    "message"
                ],
                "type": "object",
                "properties": {
                    "subCategory": {
                        "type": "string",
                        "description": "A specific category that contains more specific detail about the error"
                    },
                    "code": {
                        "type": "string",
                        "description": "The status code associated with the error detail"
                    },
                    "in": {
                        "type": "string",
                        "description": "The name of the field or parameter in which the error was found"
                    },
                    "context": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "description": "Context about the error condition",
                        "example": {
                            "missingScopes": [
                                "scope1",
                                "scope2"
                            ]
                        }
                    },
                    "message": {
                        "type": "string",
                        "description": "A human readable message describing the error along with remediation steps where appropriate"
                    }
                },
                "description": "Detailed error information including a message, status code, field location, category, and contextual data."
            },
            "PublicWideStatus": {
                "required": [
                    "channel",
                    "status",
                    "subscriberIdString",
                    "timestamp",
                    "wideStatusType"
                ],
                "type": "object",
                "properties": {
                    "wideStatusType": {
                        "type": "string",
                        "enum": [
                            "PORTAL_WIDE",
                            "BUSINESS_UNIT_WIDE"
                        ],
                        "description": "Scope of the status: portal-wide or business-unit-wide."
                    },
                    "subscriberIdString": {
                        "type": "string",
                        "description": "Unique string identifier for the subscriber."
                    },
                    "channel": {
                        "type": "string",
                        "enum": [
                            "EMAIL",
                            "WHATSAPP",
                            "SMS"
                        ],
                        "description": "Communication channel the status applies to: EMAIL, WHATSAPP, or SMS."
                    },
                    "businessUnitId": {
                        "type": "integer",
                        "format": "int64",
                        "description": "ID of the business unit associated with the status."
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "SUBSCRIBED",
                            "UNSUBSCRIBED",
                            "NOT_SPECIFIED"
                        ],
                        "description": "The contact's overall subscription status across all types."
                    },
                    "timestamp": {
                        "type": "string",
                        "format": "date-time",
                        "description": "The date and time when the status was last updated."
                    }
                },
                "description": "Represents a subscriber's portal-wide or business-unit-wide communication opt status for a specific channel."
            },
            "ActionResponseWithResultsSubscriptionDefinition": {
                "required": [
                    "completedAt",
                    "results",
                    "startedAt",
                    "status"
                ],
                "type": "object",
                "properties": {
                    "completedAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "The date and time when the action completed."
                    },
                    "numErrors": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The number of errors encountered during the action."
                    },
                    "requestedAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "The date and time when the action was requested."
                    },
                    "startedAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "The date and time when the action began processing."
                    },
                    "links": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        },
                        "description": "A map of relevant hyperlinks associated with the action response."
                    },
                    "results": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/SubscriptionDefinition"
                        },
                        "description": "The list of subscription definitions returned by the action."
                    },
                    "errors": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/StandardError"
                        },
                        "description": "A list of errors encountered during the action execution."
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "PENDING",
                            "PROCESSING",
                            "CANCELED",
                            "COMPLETE"
                        ],
                        "description": "The current processing state of the action."
                    }
                },
                "description": "Response object containing the status, timing metadata, and results of a batch subscription definition action."
            },
            "BatchInputPublicStatusRequest": {
                "required": [
                    "inputs"
                ],
                "type": "object",
                "properties": {
                    "inputs": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PublicStatusRequest"
                        }
                    }
                },
                "description": "A batch request object containing multiple subscription status update inputs."
            },
            "SubscriptionDefinition": {
                "required": [
                    "createdAt",
                    "description",
                    "id",
                    "isActive",
                    "isDefault",
                    "isInternal",
                    "name",
                    "updatedAt"
                ],
                "type": "object",
                "properties": {
                    "isInternal": {
                        "type": "boolean",
                        "description": "Indicates whether the subscription is for internal use only."
                    },
                    "createdAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "The date and time when the subscription definition was created."
                    },
                    "isDefault": {
                        "type": "boolean",
                        "description": "Indicates whether this is the default subscription type."
                    },
                    "communicationMethod": {
                        "type": "string",
                        "description": "The channel used to deliver communications for this subscription."
                    },
                    "purpose": {
                        "type": "string",
                        "description": "The intended purpose or use case of the subscription type."
                    },
                    "name": {
                        "type": "string",
                        "description": "The display name of the subscription definition."
                    },
                    "description": {
                        "type": "string",
                        "description": "Human-readable description of the subscription."
                    },
                    "id": {
                        "type": "string",
                        "description": "Unique identifier of the subscription definition."
                    },
                    "isActive": {
                        "type": "boolean",
                        "description": "Indicates whether the subscription is currently active."
                    },
                    "businessUnitId": {
                        "type": "integer",
                        "format": "int64",
                        "description": "ID of the business unit associated with the subscription."
                    },
                    "subscriptionTranslations": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PublicSubscriptionTranslation"
                        },
                        "description": "List of localized translations for the subscription definition."
                    },
                    "updatedAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Timestamp of the most recent update to the subscription."
                    }
                },
                "description": "Defines a communication subscription type, including its metadata, state, and available translations."
            },
            "BatchResponsePublicWideStatusBulkResponseWithErrors": {
                "required": [
                    "completedAt",
                    "results",
                    "startedAt",
                    "status"
                ],
                "type": "object",
                "properties": {
                    "completedAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Timestamp when the batch operation completed."
                    },
                    "numErrors": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Total number of errors encountered in the batch operation."
                    },
                    "requestedAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Timestamp when the batch operation was requested."
                    },
                    "startedAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Timestamp when the batch operation began processing."
                    },
                    "links": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        },
                        "description": "Map of related resource links associated with the batch response."
                    },
                    "results": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PublicWideStatusBulkResponse"
                        },
                        "description": "List of wide-status bulk response results from the batch operation."
                    },
                    "errors": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/StandardError"
                        },
                        "description": "List of errors encountered during the batch operation."
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "PENDING",
                            "PROCESSING",
                            "CANCELED",
                            "COMPLETE"
                        ],
                        "description": "Current processing status of the batch operation."
                    }
                },
                "description": "Batch response containing wide-status subscription results, processing metadata, and any errors encountered during the operation."
            },
            "BatchResponsePublicBulkOptOutFromAllResponse": {
                "required": [
                    "completedAt",
                    "results",
                    "startedAt",
                    "status"
                ],
                "type": "object",
                "properties": {
                    "completedAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Timestamp when the batch opt-out operation completed."
                    },
                    "numErrors": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Total number of errors encountered in the batch opt-out operation."
                    },
                    "requestedAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Timestamp when the batch opt-out operation was requested."
                    },
                    "startedAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Timestamp when the batch opt-out operation began processing."
                    },
                    "links": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        },
                        "description": "Map of related resource links associated with the batch response."
                    },
                    "results": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PublicBulkOptOutFromAllResponse"
                        },
                        "description": "List of bulk opt-out results for each processed contact."
                    },
                    "errors": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/StandardError"
                        },
                        "description": "List of standard errors encountered during batch processing."
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "PENDING",
                            "PROCESSING",
                            "CANCELED",
                            "COMPLETE"
                        ],
                        "description": "Current processing status of the batch operation."
                    }
                },
                "description": "Batch response containing bulk opt-out results, processing metadata, and any errors encountered during the operation."
            },
            "PublicBulkOptOutFromAllResponse": {
                "required": [
                    "subscriberIdString"
                ],
                "type": "object",
                "properties": {
                    "subscriberIdString": {
                        "type": "string",
                        "description": "The unique string identifier of the subscriber."
                    },
                    "statuses": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PublicStatus"
                        },
                        "description": "List of subscription statuses resulting from the opt-out operation."
                    }
                },
                "description": "Represents the opt-out result for a single contact in a bulk unsubscribe operation."
            }
        },
        "responses": {
            "Error": {
                "description": "An error occurred.",
                "content": {
                    "*/*": {
                        "schema": {
                            "$ref": "#/components/schemas/Error"
                        }
                    }
                }
            }
        },
        "securitySchemes": {
            "oauth2_legacy": {
                "type": "oauth2",
                "flows": {
                    "authorizationCode": {
                        "authorizationUrl": "https://app.hubspot.com/oauth/authorize",
                        "tokenUrl": "https://api.hubapi.com/oauth/v1/token",
                        "scopes": {
                            "communication_preferences.read_write": "Update contact subscription preferences",
                            "communication_preferences.read": "Read contact subscription preferences",
                            "communication_preferences.write": "Update contact subscription preferences"
                        }
                    }
                }
            },
            "oauth2": {
                "type": "oauth2",
                "flows": {
                    "authorizationCode": {
                        "authorizationUrl": "https://app.hubspot.com/oauth/authorize",
                        "tokenUrl": "https://api.hubapi.com/oauth/v1/token",
                        "scopes": {
                            "communication_preferences.statuses.batch.read": "Batch read contact subscription preferences",
                            "communication_preferences.statuses.batch.write": "Batch update contact subscription preferences"
                        }
                    }
                }
            },
            "private_apps_legacy": {
                "type": "apiKey",
                "name": "private-app-legacy",
                "in": "header",
                "x-ballerina-name": "privateAppLegacy"
            },
            "private_apps": {
                "type": "apiKey",
                "name": "private-app",
                "in": "header",
                "x-ballerina-name": "privateApp"
            }
        }
    }
}